.kno-inline, .xpdns, .vk_rhsc, .kno-ec, .kno-mcl, ._OKe, .kp-blk._zCd._Rqb._RJe {
	background-color: white;
}

#center_col {
	background-color: white;
}

#foot {
	padding-bottom: 1px;
}

body{ 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
     -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;

}
